.login {
    background-color: #272715;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    color: white;
    font-weight: 800;
}

.signup {
    width: 150px;
    height: 40px;
    color: white;
    font-weight: bold;
    background-color: #f3bc23;
    border: solid #f3bc23;
    border-radius: 20px;
    cursor: pointer;
}

.signin {
    width: 150px;
    height: 40px;
    color: #f3bc23;
    font-weight: bold;
    background-color: #272715;
    border: 1px solid grey;
    border-radius: 20px;
    cursor: pointer;
}

.signup:hover {
    opacity: 0.8;
}

.signin:hover {
    opacity: 0.8;
}